!!!
%html
  %head
    %title
      Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://kit.fontawesome.com/2b147cf05e.js"}
  %body
    = render 'shared/nav'
    .wrapper
      = render 'shared/flash'
      = yield
