!!!
%html
  %head
    %title
      Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.is-dark{"aria-label" => "main navigation", :role => "navigation"}
      .navbar-brand
        = link_to 'BLOG', root_path, class: 'navbar-item'
        %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
          %span{"aria-hidden" => "true"}
          %span{"aria-hidden" => "true"}
          %span{"aria-hidden" => "true"}
      #navbarBasicExample.navbar-menu
        .navbar-start
          %a.navbar-item
            記事一覧
        .navbar-end
          .navbar-item.has-dropdown.is-hoverable
            - if user_signed_in?
              %a.navbar-link
                = current_user.name if user_signed_in?
              .navbar-dropdown
                = link_to 'プロフィール', destroy_user_session_path(current_user), class: 'navbar-item', method: :delete if user_signed_in?
                %hr.navbar-divider/
                = link_to 'ログアウト', destroy_user_session_path(current_user), class: 'navbar-item', method: :delete if user_signed_in?
          .navbar-item
            %strong= link_to '新規登録', new_user_registration_path, class: 'button is-primary is-orange' unless user_signed_in?
            = link_to 'ログイン', new_user_session_path, class: 'button is-light' unless user_signed_in?
            %strong= link_to '新規投稿', new_article_path, class: 'button is-primary'if user_signed_in?

    .wrapper
      = render 'shared/flash'
      = yield
