!!!
%html
  %head
    %title
      Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.is-dark{"aria-label" => "main navigation", :role => "navigation"}
      .navbar-brand
        = link_to 'BLOG', root_path, class: 'navbar-item'
        %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
          %span{"aria-hidden" => "true"}
          %span{"aria-hidden" => "true"}
          %span{"aria-hidden" => "true"}
      #navbarBasicExample.navbar-menu
        .navbar-start
          %a.navbar-item
            記事一覧
          %a.navbar-item
            Documentation
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link
              = current_user.name if user_signed_in?
            .navbar-dropdown
              %a.navbar-item
                About
              %a.navbar-item
                Jobs
              %a.navbar-item
                Contact
              %hr.navbar-divider/
              %a.navbar-item
                Report an issue
        .navbar-end
          .navbar-item
            %strong= link_to '新規登録', new_user_registration_path, class: 'button is-primary' unless user_signed_in?
            = link_to 'ログイン', new_user_session_path, class: 'button is-light' unless user_signed_in?
            %strong= link_to '新規投稿', new_article_path, class: 'button is-primary'if user_signed_in?
    = link_to '新規投稿', new_article_path if user_signed_in?
    = link_to 'サインアップ', new_user_registration_path unless user_signed_in?
    = link_to 'ログイン', new_user_session_path unless user_signed_in?
    = link_to 'ログアウト', destroy_user_session_path(current_user), method: :delete if user_signed_in?

    = render 'shared/flash'
    = yield
